doctype html
html
  head
    meta=(charset="utf-8")
    // lastest jquery
    script(src="//code.jquery.com/jquery-1.12.3.min.js")

    //collapse bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    
    
    //select 테그 꾸며주는 bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")


    
    //img 테그 꾸며주는 bootstrap 
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css")
    
    
    link(rel='stylesheet' type ='text/css' href='/css/listening_promake.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
  body
    include ./header.jade
    
    div(class="well well-lg")
      div(class="panel-group" id="accordion")
      div(class="well well-lg")
        label 오디오 파일
        br
        audio(controls id="audio_play" preload="none")
          source(id="audioSrc" src=l_questionSet.l_questionset_audiopath)
        br
        br  
        a(href="javascript: history.go(-1)")
          button(class="btn btn-success") 뒤로가기
      - var n = 0    
          each question in l_questions
            - var problem = ++n +"번 문제 ("+question.l_questiontype_type+")"  
            div(class="panel panel-default")
              div(class="panel-heading")
                h4(class="panel-title")
                  a(data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#collapse"+n)=problem
              div(id="collapse"+n class="panel-collapse collapse")
                div(class="panel-body")
                  div(class="row-fluid")
                    select(class="selectpicker drop down" id="questionType"+n)
                      option(selected)=question.l_questiontype_type  
                    br
                    br
                    fieldset(class="form-group")
                      label 문제
                      input(class="form-control" id="ex3"  type="text" value= question.l_question_topic readonly)
                      br
                      label 이미지
                        br
                        if(question.l_questiontype_id==3)
                          img(src=question.l_question_imagepath class="img-thumbnail" alt="Cinque Terre" width="500" height="350")
                    fieldset(class="form-group")
                      label 보기 입력
                      br
                      ul(class="sortable")
                        li
                          input(type = "text" class="form-control" value= question.l_question_asw1 readonly)
                        li
                          input(type = "text" class="form-control" value= question.l_question_asw2 readonly)
                        li
                          input(type = "text" class="form-control" value= question.l_question_asw3 readonly)
                        li
                          input(type = "text" class="form-control" value= question.l_question_asw4 readonly)
                        li
                          input(type = "text" class="form-control" value= question.l_question_asw5 readonly)
                      label 정답
                      select( class="selectpicker")
                        option=question.l_question_solution 
                    fieldset(class="form-group")
                      label 설명
                      textarea(name = "l_question_explain" class="form-control" rows="7" readonly)
                        = question.l_question_explain  
