doctype html
html
  head
    meta=(charset="utf-8")
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_set.style.css')
    script(src="//code.jquery.com/jquery-1.12.3.js")
  
    //datatables    
    script(src= "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")   
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css')

    
    //select 테그 꾸며주는 bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")
    
    //bootstrap
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")      


  body
    include ./header.jade
    div(class="alert alert-success" id="delete-alert")
      strong  시험문제가 성공적으로 삭제되었습니다.
    div(class="alert alert-success" id="produce-alert")
      strong  시험문제가 성공적으로 추가되었습니다.  
      
    div(class="well well-lg" id="examBack")  
      label 시험 설명
      br
      div(class="well well-lg" id="nameBack")  
        input(type="text" class="form-control" name = "l_exam_name" placeholder="Example input" id="name" value= l_exam.l_exam_name)
      br
      div(class="well well-lg")
        table(id="examTable" class="display nowrap" cellspacing="0" width="100%")
          thead
            tr
              th 문제집 이름
              th 문제 갯수  
              th 문제집 확인
              th action
          tbody(class ="showBtn")
            each examQuestion in l_examQuestions
              tr
                td=examQuestion.l_questionset_name
                td=examQuestion.l_questionset_count
                td
                  a(href="/listening/set/"+examQuestion.l_questionset_id+'/preview')
                    button(type="button" class="btn btn-success btn-sm preshow" data-id=examQuestion.l_questionset_id) 문제보기
                td
                  button(type="button" class="btn btn-danger btn-sm deletePro" data-id=examQuestion.l_questionset_id data-exam=l_exam.l_exam_id) 제 거       
      input(type="button" class="btn btn-default" value = "총 문제갯수 : "+l_exam.l_exam_count)      
  
      table(id="table" class="display nowrap" cellspacing="0" width="100%")
        thead
          tr
            th 문제집 이름
            th 문제 갯수
            th 문제집 확인
            th 생성 일자
            th action
      
            
        tbody(class ="showBtn")
          each question in l_questionSets
            tr
              td=question.l_questionset_name
              td=question.l_questionset_count
              td
                a(href="/listening/"+question.l_questionset_id+'/preview')
                  button(type="button" class="btn btn-success btn-sm preshow" data-id = question.l_questionset_id) 문제관리
              td=question.l_questionset_date
              td
                button(type="button" class="btn btn-primary btn-sm addPro" data-id =question.l_questionset_id data-exam=l_exam.l_exam_id) 문제선택
                                    
      button(class="btn btn-primary" id="nameBtn" class='examBtn' data-id = l_exam.l_exam_id) 완료
      a(href="/reading/exam")
        button(class ="btn btn-danger" class='examBtn' ) 뒤로  

            
                      
    script.
      //시험 데이터 테이블 구상
      $(document).ready(function () {
      var examTable = $('#examTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false, 
        "width" : "80%",
        "searching": false,
        "bInfo" : false
        
            
        });
      //문제 데이터 테이블 구상      
      var table = $('#table').DataTable({
        "scrollY": "250px",
        "scrollCollapse": true,
        "paging": false, 
        "width" : "80%",
        "bInfo" : false

            
        });
      //문제선택 눌렀을때 시험문제로 추가되는 로직함수        
      $(".addPro").each(function(){
        var addProBt = $(this);
        addProBt.on('click', function(e){
          var questionId = $(this).data('id');
          var examId = $(this).data('exam');
          console.log(questionId);
          console.log(examId);
          
        $.ajax({
            type: "POST",
            url: '/listening/exam/'+examId+'/problem',
            data: {questionId},
            success: function(data){
              var $dom = $(document.createElement("html"));
              $dom[0].innerHTML = data;
              
              var $body = $dom.find("body");
              $('body').html($body[0].innerHTML);
              $('.selectpicker').selectpicker('render').selectpicker('refresh');
              $("#produce-alert").fadeTo(2000, 1300).slideUp(500, function(){
                $("#produce-alert").css({'display':'none'});
                
                
              }); 

            
            }
          })
  
        })
      })
      //선택시 시험문제에서 삭제되는 로직
      $(".deletePro").each(function(){
        var delProBt = $(this);
        delProBt.on('click', function(e){
          var questionId = $(this).data('id');
          var examId = $(this).data('exam');
          
          $.ajax({
            type: "POST",
            url: '/listening/exam/problem/'+questionId+'/delete',
            data: {examId},
            success: function(data){
              var $dom = $(document.createElement("html"));
              $dom[0].innerHTML = data;

              var $body = $dom.find("body");
              $('body').html($body[0].innerHTML);
              $('.selectpicker').selectpicker('render').selectpicker('refresh');
              $("#delete-alert").fadeTo(2000, 1300).slideUp(1300, function(){
                $("#delete-alert").css({'display':'none'});
                
                
              }); 

            }
          })

          
        })
        
      })    
      
      
      // cause deprecated
        function format(question) {
          var questionId = question.r_question_id
          $.ajax({
            url:'/reading/'+questionId+'/preshow',
            type : "GET",
            async: false,  
            data: +questionId,
            success: function(data){

               result = data;
                
            }
          })
          var result = result.replace("<label>정답</label>", "")
          var res = '<select class="selectpicker">'
          var ha = '<option value="3" selected>3번</option>'
          var result = result.replace(ha, "")
          var result = result.replace(res, "")
          
          return result;    
        } 
      $("#nameBtn").on('click', function(){
        var examName = $("#name").val()
        var examId = $(this).data('id');
        $.ajax({
          type: "POST",
          url: '/reading/exam/name',
          data: {examName, examId},
          success: function(data){
          window.location.href = "/listening/exam"
            

          }
        })
        
      })     
      
          
      });
      

      
