doctype html
html
  head
    meta=(charset="utf-8")
    // lastest jquery
    script(src="//code.jquery.com/jquery-1.12.3.min.js")


    
    //collapse bootstrap
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //sortable script
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
    
    //select 테그 꾸며주는 bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")
    
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_promake.style.css')
    
  body
    include ./header.jade
    div(class="alert alert-success" id="edit-alert")
      strong  문제가 성공적으로 수정됬습니다.      
    div(class="well well-lg")
    
      form(role ="form" action='/reading/'+question.r_question_id+"/edit" method="POST" id ="target" data-id =question.r_question_id)
        div(class="row-fluid")
          fieldset(class="form-group")
            select(name="r_questiontype_id" class="selectpicker" required)
              each r_questiontype in r_questiontypes
                if(r_questiontype.r_questiontype_id == question.r_questiontype_id)
                  option(value = r_questiontype.r_questiontype_id selected)=r_questiontype.r_questiontype_type
                else
                  option(value = r_questiontype.r_questiontype_id)=r_questiontype.r_questiontype_type
            br
            br    
            label 문제
            input(class="form-control" id="ex3" name="r_question_topic" placeholder="문제를 입력해주세요" type="text" required value =question.r_question_topic)
            
          fieldset(class="form-group")
            label 본문
            textarea(name = "r_question_text" id="explain" placeholder="설명 :" class="form-control" rows="7")
              =question.r_question_text
  
          
          fieldset(class="form-group")
            label 보기 입력
            br
            ul(class="sortable")
              li
                input(type = "text" name = "r_question_asw1" class="form-control" id="ex3" placeholder="보기 :" required value =question.r_question_asw1)
              li
                input(type = "text" name = "r_question_asw2" class="form-control" id="ex3" placeholder="보기 :" required value =question.r_question_asw2)
              li
                input(type = "text" name = "r_question_asw3" class="form-control" id="ex3" placeholder="보기 :" required value =question.r_question_asw3)
              li
                input(type = "text" name = "r_question_asw4" class="form-control" id="ex3" placeholder="보기 :" required value =question.r_question_asw4)
              li
                input(type = "text" name = "r_question_asw5" class="form-control" id="ex3" placeholder="보기 :" required value =question.r_question_asw5)
            label 정답
            select(name="r_question_solution" class="selectpicker" required)
              - var m = 1
                while m < 6
                  if(m== question.r_question_solution)
                    option(value=m selected)= m++
                  else
                    option(value=m)= m++  

          fieldset(class="form-group")
            label 설명
            textarea(name = "r_question_explain" id="explain" placeholder="설명 :" class="form-control" rows="7")
              =question.r_question_explain
        input(type="submit" class="btn btn-info" value="확인")
        
        button(class="btn btn-success" id="back") 취소        
        br
        br
    script.
      $(".sortable").sortable({
        stop: function(event, ui){
            var cnt = 1;
            $(this).children('li').each(function(){
                $(this).children('input:first').attr('name', "r_question_asw"+cnt+"");
                cnt++;
                });
            }
      });
      
      
      
      $("#target").submit(function(e){
        var id = $(this).data('id');
        url = "/reading/"+id+"/edit"
        console.log(id);
        var formData = new FormData($(this)[0]);
        console.log(formData);
        $.ajax({
          type : "POST",
          data: $("#target").serialize(),
          url : url,
          success : function(data)
          {
            window.location="/reading";
            console.log(data);
            $("#edit-alert").fadeTo(2000, 1300).slideUp(500, function(){
              $("#edit-alert").css({'display':'none'});
              
              
            });          
          }
        })
        e.preventDefault(); // avoid to execute the actual submit of the form.

      })
      
      $("#back").click(function(e){
          e.preventDefault();
           window.history.back();
      })
      
