doctype html
html
  head
    meta=(charset="utf-8")
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_set.style.css')
    script(src="//code.jquery.com/jquery-1.12.3.js")
    
    link(href="/multi-select/css/multi-select.css" rel="stylesheet" type="text/css")
    script(src="/multi-select/js/jquery.multi-select.js")   
  
    //datatables    
    script(src= "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")   
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css')

    
    //select 테그 꾸며주는 bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")
    
    //bootstrap
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")   
    



  body
    include ./header.jade
    div(class="alert alert-success" id="delete-alert")
      strong  문제가 성공적으로 삭제됬습니다.
    div(class="well well-lg" id ="readingView")
      div(class="well" style="background-color: white;")
        div(class="row")
          div(class="col-sm-1 sidebar typeSize")    
            div(class="list-group")
              a(class="list-group-item active" id="total" href="/reading") 전체문제 
              each questionType in questionTypes
                a(class="list-group-item side" href="/reading/type/"+questionType.r_questiontype_id data-id = questionType.r_questiontype_id id="row"+questionType.r_questiontype_id)=questionType.r_questiontype_type
          span(class="pull-right" id = "readingTableSpan")
            div(class="well well-lg" style="background-color: white;")
              table(id="table" class="display nowrap" cellspacing="0" width="100%")
                a(href="/reading/new")
                  select(class="selectpicker") 문제유형
                    each questionType in questionTypes
                      option(value =questionType.r_questiontype_id)=questionType.r_questiontype_type
                  button(type="button" class="btn btn-info" id="makeset" style="float: right;") 문제생성
                thead
                  tr
                    th 문제 번호
                    th 문제 보기
                    th 문제 유형
                    th 생성 일자
                    th action
                - var n = 1
                tbody
                  each question in questions
                    tr(data-child-question=question)
                      td=n++
                      td
                        button(class="btn btn-success btn-sm" id="showPro" data-id = question.r_question_id data-toggle="modal" data-target="#showModal"+question.r_question_id) 문제보기
                        div(id="showModal"+question.r_question_id class="modal fade" role="dialog")
                          div(class="modal-dialog modal-lg")
                            div(class="modal-content")
                              div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") 공개범위 수정      
                              div(class="modal-body")
                                div(class="form-group") 
                                  label 문제
                                  input( type="text" class="form-control input-sm" disabled value=question.r_questiontype_type)
                                div(class="form-group")  
                                  label 문제 유형
                                  input(class="form-control input-sm"  type="text" disabled value =question.r_question_topic)
                                div(class="form-group")
                                  label 본문
                                  textarea(class="form-control input-sm" rows="7" disabled)=question.r_question_text
                                div(class="form-group")  
                                  label 보기
                                  input(type = "text" class="form-control input-sm" disabled value =question.r_question_asw1)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =question.r_question_asw2)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =question.r_question_asw3)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =question.r_question_asw4)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =question.r_question_asw5)
                                div(class="form-group") 
                                  label 정답 
                                  br
                                  select(class="selectpicker" disabled)
                                    option(selected)=question.r_question_solution






                      td=question.r_questiontype_type
                      td=question.r_question_date
                      td
                        button(class="btn btn-info btn-sm" id="modifyScope" data-id =question.r_question_id data-scope =question.scope_id data-toggle="modal" data-target="#scopeModal"+question.r_question_id) 공개범위 수정
                        div(id="scopeModal"+question.r_question_id class="modal fade" role="dialog")
                          div(class="modal-dialog")
                            div(class="modal-content")
                              div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") 공개범위 수정      
                              div(class="modal-body" id="modalBody"+question.r_question_id)
                                form(role ="form" method="POST" id ="target"+question.r_question_id)
                                  select(class="selectpicker" name="scope" id="sel"+question.r_question_id)
                                    option(value='1') 전체공개
                                    option(value='2') 학교
                                    option(value='3') 나만보기    
                                    option(id="option"+question.r_question_id value="[]") 사용자 지정
                              div(class="modal-footer")                  
                                button(type="button"  data-dismiss="modal") 취소
                                button(type="button"  id ="scopeConfirm"+question.r_question_id data-dismiss="modal" ) 삭제  
                            
                        
                        a(href='/reading/'+question.r_question_id+'/edit')
                          button(type="button" class="btn btn-primary btn-sm") 문제수정
                        button(type="button" id="dbutton" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" data-id= question.r_question_id) 삭제
                        div(id="myModal" class="modal fade" role="dialog")
                          div(class="modal-dialog")
                            div(class="modal-content")
                              div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") 문제 삭제      
                              div(class="modal-body")
                                p 문제를 삭제하시겠습니까?    
                              div(class="modal-footer")
                                button(type="button"  data-dismiss="modal") 취소
                                button(type="button"  id = "dele" data-dismiss="modal" ) 삭제
            div(class="well well-lg" style="background-color: white;")                
              table(id="sharedTable" class="display nowrap" cellspacing="0" width="100%")
                thead
                  tr
                    th 문제 번호
                    th 문제 보기
                    th 문제 유형
                    th 생성 일자
                    th 출시자 정보
                    th action
                - var n = 1    
                tbody
                  each sharedProblem in sharedProblems
                    tr(data-child-question=sharedProblem)
                      td=n++       
                      td
                        button(class="btn btn-success btn-sm" id="showSharedPro" data-toggle="modal" data-target="#showSharedModal"+sharedProblem.r_question_id) 문제보기
                        div(id="showSharedModal"+sharedProblem.r_question_id class="modal fade" role="dialog")
                          div(class="modal-dialog modal-lg")
                            div(class="modal-content")
                              div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") 공개범위 수정      
                              div(class="modal-body")
                                div(class="form-group") 
                                  label 문제
                                  input( type="text" class="form-control input-sm" disabled value=sharedProblem.r_questiontype_type)
                                div(class="form-group")  
                                  label 문제 유형
                                  input(class="form-control input-sm"  type="text" disabled value =sharedProblem.r_question_topic)
                                div(class="form-group")
                                  label 본문
                                  textarea(class="form-control input-sm" rows="7" disabled)=sharedProblem.r_question_text
                                div(class="form-group")  
                                  label 보기
                                  input(type = "text" class="form-control input-sm" disabled value =sharedProblem.r_question_asw1)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =sharedProblem.r_question_asw2)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =sharedProblem.r_question_asw3)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =sharedProblem.r_question_asw4)
                                  br
                                  input(type = "text" class="form-control input-sm" disabled value =sharedProblem.r_question_asw5)
                                div(class="form-group") 
                                  label 정답 
                                  br
                                  select(class="selectpicker" disabled)
                                    option(selected)=sharedProblem.r_question_solution
                      td=sharedProblem.r_questiontype_type
                      td=sharedProblem.r_question_date
                      td=sharedProblem.school_name + sharedProblem.personal_id + sharedProblem.name
                      td
                        button(type="button" class="btn btn-danger btn-sm" id="delShared" data-toggle="modal" data-target="#delModal" data-id= sharedProblem.r_question_id) 삭제
                        div(id="delModal" class="modal fade" role="dialog")
                          div(class="modal-dialog")
                            div(class="modal-content")
                              div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") 문제 삭제      
                              div(class="modal-body")
                                p 선택하신 공유받은 문제를 삭제하시겠습니까?    
                              div(class="modal-footer")
                                button(type="button"  data-dismiss="modal") 취소
                                button(type="button"  id ="delete" data-dismiss="modal" ) 삭제     
            

              
            
                      
    script.
      $(document).on("click", "#modifyScope", function(){
          var questionId = $(this).data('id');
          var scope = $(this).data('scope');
          if(scope !=4){
          $("#selectGroup"+questionId).css({'display':'none'});
          $("#sel"+questionId).selectpicker('val', scope);
        }else{
          $("#sel"+questionId).selectpicker('val', $("#option"+questionId).val())
          if($("#selectGroup"+questionId).length ==0){
            $.ajax({
              url:'reading/modify/scope/'+questionId,
              type : 'GET',
              success : function(data){
                console.log('eloo');
                var $dom = $(document.createElement("html"));
                $dom[0].innerHTML = data;
                var body = $dom.find("div");
                $("#modalBody"+questionId).append(body[0].innerHTML);
                $('#scopeM'+questionId).multiSelect({ selectableOptgroup: true });
  
              }
            });
          }      
        }
          
           $("#sel"+questionId).on('change', function(){
              if($("#sel"+questionId+" option:selected").attr("id")){
                  $("#selectGroup"+questionId).css({'display':'block'});                
                  if($("#selectGroup"+questionId).length ==0){
                    $.ajax({
                      url:'reading/scope/'+questionId,
                      type : 'GET',
                      success : function(data){
                        var $dom = $(document.createElement("html"));
                        $dom[0].innerHTML = data;
                        var body = $dom.find("div");
                        $("#modalBody"+questionId).append(body[0].innerHTML);
                        $('#scopeM'+questionId).multiSelect({ selectableOptgroup: true });  
                      }
                    });
                  }                
              }else{
                  $("#selectGroup"+questionId).css({'display':'none'});
              }
           })
           
          $("#scopeConfirm"+questionId).on('click', function(){
            $("#option"+questionId).val($("#scopeM"+questionId).val());
            console.log('hello'+questionId);
            $("#target"+questionId).submit();
           })
           
           
           
           $("#target"+questionId).on('submit', function(e){
             e.preventDefault(); // avoid to execute the actual submit of the form.
             console.log(questionId);
             var url = "reading/scope/modify/"+questionId;
             $.ajax({
               type : "POST",
               data : $("#target"+questionId).serialize(),
               url : url,
               success : function(data){
                 var $dom = $(document.createElement("html"));
                 $dom[0].innerHTML = data;
                 var readingView = $dom.find("#readingView");
                 $('#readingView').html(readingView[0].innerHTML);
                 $('.selectpicker').selectpicker('render').selectpicker('refresh');
                 $('.modal').modal('hide');
                 $('body').removeClass('modal-open');
                 $('.modal-backdrop').remove();
                 var table = $('#table').DataTable({
                   "scrollY": "400px",
                   "scrollCollapse": true,
                   "paging": false, 
                   "width" : "80%"
                     
                 });
                 
                 var sharedTable = $('#sharedTable').DataTable({
                   "scrollY": "400px",
                   "scrollCollapse": true,
                   "paging": false, 
                   "width" : "80%"
                 })
                 $('.selectpicker').selectpicker('render').selectpicker('refresh');
                 

               }
             })
           })    
        })
        
        $(document).on('click', 'a.list-group-item', function(e){
          e.preventDefault();
          var typeId = $(this).data('id');        
          $.ajax({
            url : $(this).attr('href'),
            type : 'GET',
            success : function(data){
              var $dom = $(document.createElement("html"));
              $dom[0].innerHTML = data;
              var readingTableSpan = $dom.find("#readingTableSpan");
              $("#readingTableSpan").html(readingTableSpan[0].innerHTML);
              var table = $('#table').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false, 
                "width" : "80%"
                  
              });
              
              var sharedTable = $('#sharedTable').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false, 
                "width" : "80%"
              })
              $('.selectpicker').selectpicker('render').selectpicker('refresh');
              
              if(typeId){
                $(".active").removeClass("active")
                $("#row"+typeId).addClass("active");
              }else{
                $(".active").removeClass("active")
                $("#total").addClass("active")  

              }
              
            }
          })
        }) 
      
              
        // 데이터테이블 생성 및 구성      
        var table = $('#table').DataTable({
          "scrollY": "400px",
          "scrollCollapse": true,
          "paging": false, 
          "width" : "80%"
            
        });
        
        var sharedTable = $('#sharedTable').DataTable({
          "scrollY": "400px",
          "scrollCollapse": true,
          "paging": false, 
          "width" : "80%"
        })
        $(document).on('click', '#delShared', function(){
          var sharedProblem = $(this).data('id');
          $(document).on('click', '#delete', function(){
            $.ajax({
              url:'reading/delete/sharing',
              type : 'POST',
              data : {sharedProblem},
              success : function(data){
                var $dom = $(document.createElement("html"));
                $dom[0].innerHTML = data;
                var $body = $dom.find("body");
                $('body').html($body[0].innerHTML);
              }
              
            })
          })

        } )
          
        // 리딩문제 삭제하는 함수
        $(document).on("click", "#dbutton", function () {
          var proId = $(this).data('id');
            var one = document.getElementById('dele')
            one.addEventListener('click', function(){
              removeItem(proId);
              
            })
          });
          
        function removeItem(id) {
          $.ajax({
          url:'reading/'+id+'/delete',  
          type:"post",
          data: id,
          success:function(data) {
              var $dom = $(document.createElement("html"));
              $dom[0].innerHTML = data;

              var $body = $dom.find("body");
              $('body').html($body[0].innerHTML);
              $("#delete-alert").css({'display':'block'});


              $("#delete-alert").fadeTo(2000, 1300).slideUp(500, function(){
                $("#delete-alert").css({'display':'none'});


              });
              

            
            
            }
          });
        }
      
      
                    
                    
     
