doctype html
html
  head
    meta=(charset="utf-8")
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_set.style.css')
    script(src="//code.jquery.com/jquery-1.12.3.js")
  
    //datatables    
    script(src= "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")   
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css')
    
    //bootstrap
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    body
      include ./header.jade
      div(class="alert alert-success" id="delete-alert")
        strong  시험이 성공적으로 삭제됬습니다. 
      div(class="well well-lg")
        table(id="table" class="display nowrap" cellspacing="0" width="100%")
          thead
            tr
              th 
              th 시험 설명
              th 문제 갯수  
              th 출시 
              th action
          tfoot
            tr
              th
                button(class="btn btn-info btn-sm" style="float: right;" id ="makeExam") 시험생성     
          tbody(class ="showBtn")
            - var n = 1  
            each r_exam in r_exams
              tr
                td=n++
                td=r_exam.r_exam_name
                td=r_exam.r_exam_count
                td=r_exam.r_exam_date
                td
                  button(class="btn-sm btn-danger" class="dbutton" data-toggle="modal" data-target="#myModal" data-id=r_exam.r_exam_id) 삭제
                  div(id="myModal" class="modal fade" role="dialog")
                    div(class="modal-dialog")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button" class="close" data-dismiss="modal") &times;
                          h4(class="modal-title") 시험 삭제      
                        div(class="modal-body")
                          p 시험을 삭제하시겠습니까?    
                        div(class="modal-footer")
                          button(type="button"  data-dismiss="modal") 취소
                          button(type="button"  id = "dele" data-dismiss="modal" ) 삭제
                  a(href='/reading/exam/'+r_exam.r_exam_id+'/problem') 
                    button(type="button" class="btn btn-primary btn-sm modiPro") 수정
                  button(type="button" class="btn btn-success btn-sm deletePro") 배포         
      script.
        //시험 데이터 테이블 구상
        $(document).ready(function () {
        var table = $('#table').DataTable({
          "scrollY": "250px",
          "scrollCollapse": true,
          "paging": false, 
          "bInfo" : false
          
              
          });
          
          //리딩시험 생성 하고 insertid 제이슨 파일로 받아서 해당시험관리 화면으로 이동
          $(document).on('click', "#makeExam", function(){
            
            $.ajax({
                type: "POST",
                url: '/reading/exam/new',
                dataType: 'json',
                success: function(data){
                
                window.location.href = "/reading/exam/"+data+'/problem';  

                }
              })
            
          })
          
          //리딩시헝 삭제 하는 함수
          $(document).on("click", ".dbutton", function () {
            var proId = $(this).data('id');
            console.log(proId);
              var one = document.getElementById('dele')
              one.addEventListener('click', function(){
                removeItem(proId);
        
              })
            });
            
          function removeItem(id) {
            $.ajax({
                type: "POST",
                url: '/reading/exam/drop',
                data: '&examId='+id,
                success: function(data){
                  var $dom = $(document.createElement("html"));
                  $dom[0].innerHTML = data;
                  
                  var $body = $dom.find("body");
                  $('body').html($body[0].innerHTML);

                  $("#delete-alert").fadeTo(2000, 1300).slideUp(500, function(){
                    $("#delete-alert").css({'display':'none'});
                  });
                }
              })
              }
            });

    
    
