doctype html
html(lang='en')
  head
    title 수행평가
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_set.style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    style.
      body {width:100%; margin:0 auto;}
      #main {padding:2px;}
      #main table {width:100%;}
      #main table, th, td {border: 1px solid black;}
      .container input {width: 100%; height: 100%; border: none; text-align:center;}
      .container td {text-align: center; vertical-align: middle;}

  body

    include ./header.jade

    #main(style='position:relative')
      .container(style='margin:auto')
        form(action='/evaluateStudent/add' method='post')
          h4 과목:
            input(type='text' name='subject_name' placeholder='00' style='width:50px' value='영어')
          div(style='position:absolute; right:75px;')
            input(type='text' name='teacher_id' value='#{teacher_id}' style='display:none')
            input(type='text' name='grade' placeholder='00' style='width:30px' value='#{grade}')
            | 학년
            input(type='text' name='group' placeholder='00' style='width:30px' value='#{_class}')
            | 반
          table(style='margin-top:40px').table.table-bordered
            thead
              tr
                th.col-sm-2(style='text-align:center; background:lightgray') 학년학기
                th.col-sm-2(style='text-align:center; background:lightgray') 교과
                th.col-sm-2(style='text-align:center; background:lightgray') 단원명(영역)
                th.col-sm-2(style='text-align:center; background:lightgray') 평가시기
                th.col-sm-2(style='text-align:center; background:lightgray') 평가자

            tbody
              tr
                td
                  input(type='text' name='grade_semester' value=GetPerforms[0].grade_semester placeholder='입력해주세요')
                td
                  input(type='text' name='subject' value=GetPerforms[0].subject_name placeholder='입력해주세요')
                td
                  input(type='text' name='name_of_section' value=GetPerforms[0].name_of_section placeholder='입력해주세요')
                td
                  input(type='text' name='term_of_assessment' value=GetPerforms[0].term_of_assessment placeholder='입력해주세요')
                td
                  input(type='text' name='grader' placeholder='입력해주세요' value='#{teacher_name[0].name}' readOnly='true')

          table.table.table-bordered
            tbody
              tr
                th.col-sm-2(style='text-align:center; vertical-align:middle; background:lightgray') 평가문항
                td(colspan='3')
                  textarea(style='width:100%; height:100%; border:none' name='assessment_item' placeholder='입력해주세요')
                    =GetPerforms[0].assessment_item
              tr
                th(style='text-align:center; vertical-align:middle; background:lightgray') 준비물
                td(colspan='3')
                  textarea(style='width:100%; height:100%; border:none' name='supply' placeholder='입력해주세요')
                    =GetPerforms[0].supply
              tr
                th(style='text-align:center; vertical-align:middle; background:lightgray') 유의사항
                td(colspan='3')
                  textarea(style='width:100%; height:100%; border:none' name='caution_area' placeholder='입력해주세요')
                    =GetPerforms[0].caution_area
              tr
                th(style='text-align:center; vertical-align:middle; background:lightgray') 공지여부
                td(colspan='3')
                  textarea(style='width:100%; height:100%; border:none' name='notice_or_not' placeholder='입력해주세요')
                    =GetPerforms[0].notice_or_not
              tr
                th(style='text-align:center; vertical-align:middle; background:lightgray') 평가요소
                td.col-sm-6
                  textarea(style='width:100%; height:100%; border:none' name='assessment_factor' placeholder='입력해주세요')
                    =GetPerforms[0].factor
                  th.col-sm-2(style='text-align:center; vertical-align:middle; background:lightgray') 평가방법
                  td
                    input(type='text' name='assessment_way' value=GetPerforms[0].way placeholder='입력해주세요')


          table#table3.table.table-bordered
            tbody#tbody
              tr(style='background:lightgray')
                th.col-sm-5(rowspan='2', style='text-align:center;vertical-align:middle') 평가 기준
                td.col-sm-3(colspan='4', style='text-align:center') 평정
                td.col-sm-4(colspan='3', style='text-align:center') 학생
              tr
                td(style='text-align:center;vertical-align:middle; background:lightgray')
                  | 매우
                  br
                  | 우수
                td(style='text-align:center;vertical-align:middle; background:lightgray') 우수
                td(style='text-align:center;vertical-align:middle; background:lightgray') 보통
                td(style='text-align:center;vertical-align:middle; background:lightgray') 미흡
                td(style='text-align:center;vertical-align:middle; background:lightgray') 번호
                td(style='text-align:center;vertical-align:middle; background:lightgray') 이름
                td(style='text-align:center;vertical-align:middle; background:lightgray') 사진

              each valStand, indexStand in GetStands
                tr(id='tr'+(indexStand+1))
                  td.col-sm-5
                    textarea(style='width: 100%; height: 100%; border: none;' name='standard'+(indexStand+1) id='standard'+(indexStand+1) placeholder='입력해주세요')
                      =valStand.contents
                  td
                    input(type='checkbox', name='box'+(indexStand+1), value='EXCELLENT', onclick='selectBox(this)', checked='')
                  td
                    input(type='checkbox', name='box'+(indexStand+1), value='GREAT', onclick='selectBox(this)')
                  td
                    input(type='checkbox', name='box'+(indexStand+1), value='GOOD', onclick='selectBox(this)')
                  td
                    input(type='checkbox', name='box'+(indexStand+1), value='BAD', onclick='selectBox(this)')
                  if indexStand == 0
                    td#td1(rowspan=2+(GetStands.length-1))
                      input(type='text', name= 'student_num', placeholder='00', size='1')
                    td#td2(rowspan=2+(GetStands.length-1))
                      input(type='text', name='student_name', placeholder='홍길동' size='1' value='#{student_Name}')
                    td#td3(rowspan=2+(GetStands.length-1), style='vertical-align:middle')
                      img(src='/problem_file/image/images2.png', name='student_pic', width='40', height='100')


          div
            button.btn.btn-success(type='button', onclick='createItem()') 추가
            button#deleteBtn.btn.btn-danger(type='button') 삭제

          div(style='position: absolute; right:75px')
            button.btn.btn-primary(type='submit' id='submit_btn') Submit

          script.
            //Global variables


            var count1 = 1;
            var count2 = 1;
            var count3 = 1;
            var count4 = 1;
            var num = 1;
            var assessment_standard_count = 1;


            function createItem(){
            var tableLength = $('#table3 tr').length - 2;
            var countTr = tableLength;
            var countStandard = tableLength;
            var countBox1 = tableLength;
            var countBox2 = tableLength;
            var countBox3 = tableLength;
            var countBox4 = tableLength;

            var tbody = document.getElementById("tbody");
            var rowspantd1 = document.getElementById("td1");
            var rowspantd2 = document.getElementById("td2");
            var rowspantd3 = document.getElementById("td3");
            var tr = document.createElement("tr");
            tr.setAttribute("id","tr" + (++countTr))

            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var td4 = document.createElement("td");
            var td5 = document.createElement("td");
            var textarea = document.createElement("textarea");
            textarea.style.width = "100%";
            textarea.style.height = "100%";
            textarea.style.border = "none";
            textarea.setAttribute("name","standard"+(++countStandard));
            textarea.setAttribute("placeholder","입력해주세요");
            var input1 = document.createElement("input");
            input1.setAttribute("type","checkbox");
            input1.setAttribute("name", "box"+ (++countBox1));
            input1.setAttribute("value", "EXCELLENT");
            input1.setAttribute("onclick", "selectBox(this)");
            input1.setAttribute("checked", "true");
            var input2 = document.createElement("input");
            input2.setAttribute("type","checkbox");
            input2.setAttribute("name", "box"+ (++countBox2));
            input2.setAttribute("value", "GREAT");
            input2.setAttribute("onclick", "selectBox(this)");
            var input3 = document.createElement("input");
            input3.setAttribute("type","checkbox");
            input3.setAttribute("name", "box"+ (++countBox3));
            input3.setAttribute("value", "GOOD");
            input3.setAttribute("onclick", "selectBox(this)");
            var input4 = document.createElement("input");
            input4.setAttribute("type","checkbox");
            input4.setAttribute("name", "box"+ (++countBox4));
            input4.setAttribute("value", "BAD");
            input4.setAttribute("onclick", "selectBox(this)");
            td1.appendChild(textarea);
            tr.appendChild(td1);
            td2.appendChild(input1);
            tr.appendChild(td2);
            td3.appendChild(input2);
            tr.appendChild(td3);
            td4.appendChild(input3);
            tr.appendChild(td4);
            td5.appendChild(input4);
            tr.appendChild(td5);
            rowspantd1.setAttribute("rowspan", parseInt(rowspantd1.getAttribute("rowspan"))+1);
            rowspantd2.setAttribute("rowspan", parseInt(rowspantd2.getAttribute("rowspan"))+1);
            rowspantd3.setAttribute("rowspan", parseInt(rowspantd3.getAttribute("rowspan"))+1);
            tbody.appendChild(tr);
            }
            $(document).ready(function(){
            $("#deleteBtn").click(function(){
            var length = $('#table3 tr').length - 2;
            if(length == 1){
            //stop. do not remove
            }else{
            $('#tr'+ length).remove();
            }
            });
            });

      p

      footer
      //
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              a.navbar-brand(href='main_web') LINKS
            ul.nav.navbar-nav
              li
                a(href='#') 학교소개
              li
                a(href='#') 연혁
              li
                a(href='#') 찾아오시는 길
              li
                a(href='#') 광고주모집


      // Java Script
      script.
        function selectBox(check){
        var boxes = document.getElementsByName(check.getAttribute("name"));
        for(var i = 0; i < boxes.length; i++){
        if(boxes[i].checked == true){
        //alert(boxes[i].value);
        boxes[i].checked = false;
        }
        }
        check.checked = true;
        }
