doctype html
html
  body
    div(class="well well-lg" id="groupView")
      div(class="well" style="background-color: white;")
        div(class="row")
          div(class="col-sm-4 col-md-3 sidebar")    
            div(class="list-group")
              span(href="#" class="list-group-item") 그룹 / 반
                span(class="pull-right" id="slide-submenu") 
                  button("btn btn-sm" data-toggle="modal" data-target="#addModal") +
                  div(id="addModal" class="modal fade" role="dialog")
                    div(class="modal-dialog")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button" class="close" data-dismiss="modal") &times;
                          h4(class="modal-title") 그룹 생성
                        div(class="modal-body")
                          form(type="post" method="POST" id ="addGroup" class="valid" action="/add/group" data-id =takenStudents[0].teacher_id data-backdrop="false") 
                            div(class="form-group")
                              label 그룹명
                              input(type="text" name ="groupName" class="form-control" id="groupName")
                            div(class="form-group")
                              label 설명
                              input(type="text" name ="groupDes" class="form-control" id="groupDes")
                            div(class="form-group")
                              label 학생 추가
                              select(id='selectedStudnets' multiple='multiple' class="multiSel" name ="studentId")
                                each takenStudent in takenStudents
                                  - var optGroup = takenStudent.personal_id.substring(0, takenStudent.personal_id.indexOf("반")+1);
                                  - var studentNum = takenStudent.personal_id.substring(takenStudent.personal_id.indexOf("반")+1, takenStudent.personal_id.length)    
                                  optgroup(label=optGroup)
                                    option(value=takenStudent.student_id)=takenStudent.name+" ("+studentNum+")"
                            button(type="submit" id="addBtn" class="btn btn-primary btn-sm") 생 성
                            button(type="button"  data-dismiss="modal" class="btn btn-danger btn-sm") 취소

              a(class="list-group-item active") 전체학생 
                span(class="badge")=takenStudents.length    
              each group in groups
                a(class="list-group-item side" href="/group/"+group.user_group_id data-id =group.user_group_id id="row"+group.user_group_id)=group.group_name
                  span(class="badge")=group.users
          span(class="pull-right" id = "tableSpan")
            div(class="well well-sm clearfix")
              h3=group.group_name
              span(class="pull-right")
                button(class="btn btn-primary" data-target="#modify"+group.user_group_id data-id = group.user_group_id data-toggle="modal") 수정
                div(id="modify"+group.user_group_id class="modal fade" role="dialog")
                  div(class="modal-dialog")
                    div(class="modal-content")
                      div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal") &times;
                        h4(class="modal-title") 그룹 수정
                      div(class="modal-body")
                        form(type="post" method="POST" id="modifyGroup" class="valid" action="/modify/group" data-teacher =takenStudents[0].teacher_id data-id =group.user_group_id )
                          div(class="form-group")
                            label 그룹명
                            input(type="text" name="groupName" id="mGroupName" value=group.name class="form-control")
                          div(class="form-group")  
                            label 그룹설명
                            input(type="text" name="groupDes" id="mGroupDes" value=group.description class= "form-control")
                          div(class="form-group")
                            label 학생 선택
                            select(id='MselectedStudnets' multiple='multiple' class="multiSel" name="studentId")
                              each restStudent in restStudents
                                - var optGroup = restStudent.personal_id.substring(0, restStudent.personal_id.indexOf("반")+1)
                                - var studentNum = restStudent.personal_id.substring(restStudent.personal_id.indexOf("반")+1, restStudent.personal_id.length)
                                optgroup(label=optGroup)
                                  option(value=restStudent.user_id)=restStudent.name+" ("+studentNum+")" 
                              each groupStudent in groupStudents
                                - var optGroup = groupStudent.personal_id.substring(0, groupStudent.personal_id.indexOf("반")+1)
                                - var studentNum = groupStudent.personal_id.substring(groupStudent.personal_id.indexOf("반")+1, groupStudent.personal_id.length)
                                optGroup(label=optGroup)
                                  option(value=groupStudent.user_id selected)=groupStudent.name+" ("+studentNum+")"                              
                              
                          button(type="submit" class="btn btn-primary btn-sm") 수 정
                          button(class="btn btn-danger btn-sm" data-dismiss="modal") 취 소                              
                                                                                  
                button(class="btn btn-danger" data-toggle="modal" data-target="#deleteGroup"+group.user_group_id ) 삭제
                div(id="deleteGroup"+group.user_group_id class="modal fade" role="dialog")
                  div(class="modal-dialog")
                    div(class="modal-content")
                      div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal") &times;
                        h4(class="modal-title") 그룹 삭제
                      div(class="modal-body")
                        h5=group.name + '그룹을 삭제하시겠습니까?'
                      div(class="modal-footer")
                        button(class="btn btn-primary btn-sm" data-dismiss="modal") 취소          
                        button(id="deleteGroup" class="btn btn-danger btn-sm" data-id= group.user_group_id) 삭제
            table(id="table" class="display" cellspacing="0")
              thead
                tr
                  th 이름 
                  th 학번
                  th Email
              tfoot
                tr
                  th
                    button(class="btn btn-info btn-sm" style="float: right;" id ="makeExam") 시험생성     
              tbody(class ="showBtn")
                each user in users
                  tr(class="tr" data-id=user.user_id)
                    td=user.name
                    td=user.personal_id 
                    td=user.email 
                      button(id=user.user_id class="pull-right deleteUser" data-id=user.user_id data-group=group.user_group_id data-toggle="modal" data-target="#myModal"+user.user_id) x
                      div(id="myModal"+user.user_id class="modal fade" role="dialog")
                        div(class="modal-dialog")
                          div(class="modal-content")
                            div(class="modal-header")
                              button(type="button" class="close" data-dismiss="modal") &times;
                              h4(class="modal-title") 유저 삭제      
                            div(class="modal-body")
                              p=user.name+"학생을 "+ group.name + " 그룹에서 삭제하시겠습니까?"     
                            div(class="modal-footer")
                              button(type="button"  data-dismiss="modal") 취소
                              button(type="button"  id ="dele"+user.user_id  data-dismiss="modal" ) 삭제
            
      
